
{% extends "global/base.html" %}
{% load static %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.first_name}} {{contact.last_name}}
        </h1>
        <p><b>ID:</b> {{contact.id}}</p>
        <p><b>E-mail:</b> {{contact.email}}</p>
        <p><b>Phone:</b> {{contact.phone}}</p>
        <p><b>Create Date:</b> {{contact.created_date}}</p>
        <p><b>Description:</b> {{contact.description}}</p>
        <p><b>Category:</b> {{contact.category.name}}</p>

        
        {% if contact.picture %}
            <p>
                <img src="{{contact.picture.url}}" alt="{{contact.first_name}} {{contact.last_name}}">
            </p>
        {% endif %}
            

        <div class="contact-links">
            <a href="{% url 'contact:update' contact.id %}" class="btn btn-link">Update</a>
            <button onclick="confirmarExclusao()" class="btn btn-link btn-delete">Delete</button>
            <form id="form-exclusao" action="{% url 'contact:delete' contact.id %}" method="POST" style="display: none;">
                {% csrf_token %}
            </form>
        </div>
    </div>

    
    <script>
        function confirmarExclusao() {
            if (confirm("Do you realy want to delete this contact?")) {
                document.getElementById('form-exclusao').submit(); 
            }
        }
    </script>  


   
{% endblock content %}
